# .gitignore
# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
env/
venv/

# Ignore system files
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak
*.old
*.orig

# Ignore large or unnecessary datasets (if applicable)
dataset/
data/raw/

# README.md
# Particle Detection

This repository contains code for training and evaluating deep learning models for nanoparticle detection.

#files i dont want to track
notebooks/
128x128_patches_dataset/
patches_dataset/
data/
saved_models/
test_dataset/
particle_detection/autoencoder/
particle_detection/clustering/
